<!-- INTERPOLATION -->
<h1>{{ appName }}</h1>
<!-- PROPERTY BINDING -->
<input type="text" [value]="clientName" />
<!-- STYLE BINDING -->
<p [style.color]="myColor">Text color is styled using style binding.</p>
<!-- CLASS BINDING -->
<p [class]="appliedCSSClass">Text color is styled using myClass property.</p>
<p [class.blue]="notappliedCSSClass">
  Text color is styled using myClass property.
</p>
<!-- TWO WAY BINDING -->
<input [(ngModel)]="myName" placeholder="Enter Your Name: " />
<p>Hello {{ myName }}!!</p>

<!-- EVENT BINDING -->
<h2>EVENT BINDING</h2>
<button click="showData($event)">CLICK HERE</button>
<!-- <button on-click="showData()">CLICK HERE</button> -->
